.checkInputContainer {
  display: flex;
  flex-direction: column;
  width: 300px;
  justify-content: center;
  .checkInputTitle {
    font-size: 16px;
    text-decoration: underline;
    margin-left: $margin;
  }
  .checkInputContent {
    display: flex;
    flex-direction: row;
  }
}

@include respond(desktop) {
  .checkInputContainer {
    .checkInputTitle {
    }
    .checkInputContent {
      display: flex;
      flex-direction: column;
    }
  }
}
